body {background-color: white}

table
{
border-collapse: collapse;
border: 4px solid silver;
empty-cells: show
}
TD    { border-size: 1px; border-style: solid;
        border-color: #336699;
        text-align: center; width: 80px; }
th.a {color: white;}
tr.even {background-color: silver;}
tr.oneven {background-color: white;}

th
{
	background-color: blue;
	color: white;
}

a.header:link {color: white}
.popup
{
COLOR: #9F141A;
CURSOR: help;
TEXT-DECORATION: none
}
</STYLE>

#dek {POSITION:absolute;VISIBILITY:hidden;Z-INDEX:200;}

.title{
	 font-style: italic;
}