<?xml version="1.0" encoding="UTF-8"?>
<jardesc>
<jar path="E:/prg/gmml-visio/trunk/src/gmml-visio.jar"/>
<options buildIfNeeded="true" compress="true" descriptionLocation="/gmml-vision/gmml-visio-executable-jar.jardesc" exportErrors="true" exportWarnings="true" includeDirectoryEntries="false" overwrite="false" saveDescription="true" useSourceFolders="false"/>
<manifest generateManifest="false" mainClassHandleIdentifier="=gmml-vision/&lt;gmmlVision{GmmlVision.java[GmmlVision" manifestLocation="/gmml-vision/MANIFEST.MF" manifestVersion="1.0" reuseManifest="false" saveManifest="false" usesManifest="true">
<sealing sealJar="false">
<packagesToSeal/>
<packagesToUnSeal/>
</sealing>
</manifest>
<selectedElements exportClassFiles="true" exportJavaFiles="false" exportOutputFolder="false">
<javaElement handleIdentifier="=gmml-vision/&lt;colorSet{GmmlColorSet.java"/>
<file path="/gmml-vision/icons/newdashedarrow.gif"/>
<file path="/gmml-vision/SciTE.properties.template"/>
<file path="/gmml-vision/icons/newreceptorround.gif"/>
<javaElement handleIdentifier="=gmml-vision/&lt;data{GmmlData.java"/>
<javaElement handleIdentifier="=gmml-vision/&lt;graphics{GmmlHandle.java"/>
<file path="/gmml-vision/icons/newoval.gif"/>
<file path="/gmml-vision/icons/newlineshapemenu.gif"/>
<javaElement handleIdentifier="=gmml-vision/&lt;graphics{GmmlDrawing.java"/>
<javaElement handleIdentifier="=gmml-vision/&lt;gmmlVision{GmmlVision.java"/>
<javaElement handleIdentifier="=gmml-vision/&lt;graphics{GmmlLine.java"/>
<file path="/gmml-vision/icons/new.gif"/>
<file path="/gmml-vision/icons/newlinemenu.gif"/>
<javaElement handleIdentifier="=gmml-vision/&lt;graphics{GmmlGpColor.java"/>
<file path="/gmml-vision/icons/newreceptorsquare.gif"/>
<file path="/gmml-vision/images/mRNA.bmp"/>
<javaElement handleIdentifier="=gmml-vision/&lt;colorSet{GmmlColorSetObject.java"/>
<javaElement handleIdentifier="=gmml-vision/&lt;graphics{GmmlMappInfo.java"/>
<file path="/gmml-vision/images/logo.jpg"/>
<javaElement handleIdentifier="=gmml-vision/&lt;graphics{GmmlArc.java"/>
<file path="/gmml-vision/icons/newtbar.gif"/>
<file path="/gmml-vision/.classpath"/>
<file path="/gmml-vision/icons/colorset.gif"/>
<javaElement handleIdentifier="=gmml-vision/&lt;graphics{GmmlGraphics.java"/>
<javaElement handleIdentifier="=gmml-vision/&lt;colorSet{ColorSetWindow.java"/>
<file path="/gmml-vision/icons/newrectangle.gif"/>
<file path="/gmml-vision/icons/save.gif"/>
<file path="/gmml-vision/icons/open.gif"/>
<javaElement handleIdentifier="=gmml-vision/&lt;colorSet{GmmlColorGradient.java"/>
<javaElement handleIdentifier="=gmml-vision/&lt;graphics{GmmlShape.java"/>
<file path="/gmml-vision/sortingNotes.txt"/>
<file path="/gmml-vision/icons/newarrow.gif"/>
<javaElement handleIdentifier="=gmml-vision/&lt;data{GmmlGdb.java"/>
<javaElement handleIdentifier="=gmml-vision/&lt;colorSet{GmmlColorSetPreview.java"/>
<javaElement handleIdentifier="=gmml-vision/&lt;graphics{GmmlBrace.java"/>
<file path="/gmml-vision/icons/newarc.gif"/>
<javaElement handleIdentifier="=gmml-vision/&lt;debug{Sleak.java"/>
<file path="/gmml-vision/GMML_compat.xsd"/>
<file path="/gmml-vision/icons/newline.gif"/>
<javaElement handleIdentifier="=gmml-vision/&lt;graphics{GmmlLineShape.java"/>
<file path="/gmml-vision/icons/select.gif"/>
<javaElement handleIdentifier="=gmml-vision/&lt;gmmlVision{GmmlBpBrowser.java"/>
<javaElement handleIdentifier="=gmml-vision/&lt;graphics{GmmlLegend.java"/>
<javaElement handleIdentifier="=gmml-vision/&lt;util{SwtUtils.java"/>
<file path="/gmml-vision/.project"/>
<file path="/gmml-vision/icons/newdashedline.gif"/>
<file path="/gmml-vision/images/logo-fullsize.png"/>
<file path="/gmml-vision/icons/newbrace.gif"/>
<file path="/gmml-vision/icons/newgeneproduct.gif"/>
<file path="/gmml-vision/todo.xls"/>
<javaElement handleIdentifier="=gmml-vision/&lt;graphics{GmmlDrawingObject.java"/>
<file path="/gmml-vision/backpage/header.html"/>
<javaElement handleIdentifier="=gmml-vision/&lt;graphics{GmmlGeneProduct.java"/>
<file path="/gmml-vision/icons/edit.gif"/>
<javaElement handleIdentifier="=gmml-vision/&lt;gmmlVision{GmmlAboutBox.java"/>
<javaElement handleIdentifier="=gmml-vision/&lt;gmmlVision{GmmlPropertyTable.java"/>
<file path="/gmml-vision/images/protein.bmp"/>
<file path="/gmml-vision/convert_gex_error.txt"/>
<file path="/gmml-vision/.gdbProperties"/>
<file path="/gmml-vision/images/logo-tiny.jpg"/>
<file path="/gmml-vision/SciTE.properties"/>
<javaElement handleIdentifier="=gmml-vision/&lt;data{GmmlGex.java"/>
<javaElement handleIdentifier="=gmml-vision/&lt;data{GmmlDb.java"/>
<javaElement handleIdentifier="=gmml-vision/&lt;util{GmmlColorConvertor.java"/>
<javaElement handleIdentifier="=gmml-vision/&lt;graphics{GmmlSelectionBox.java"/>
<file path="/gmml-vision/icons/newligandsquare.gif"/>
<file path="/gmml-vision/icons/newlabel.gif"/>
<javaElement handleIdentifier="=gmml-vision/&lt;graphics{GmmlLabel.java"/>
<file path="/gmml-vision/icons/newligandround.gif"/>
</selectedElements>
</jardesc>
