# IntelliJ files
/.idea/libraries/Gradle__*.xml
/.idea/dataSources.xml
/.idea/dataSources.ids
/.idea/dictionaries/
/.idea/scssLintPlugin.xml
/.idea/shelf/
/.idea/workspace.xml
/.idea/watcherTasks.xml

src/core/org/pathvisio/Revision.java
*.orig
*.rej
bin/
build/
modules/*.jar
release/
lib/resources.jar
pathvisio.jar
pathvisio_core.jar
src-axis-wpclient/
tools/cytoscape-gpml/build/
tools/cytoscape-gpml/class
tools/cytoscape-gpml/gpml.jar
ant.properties
*~
felix-cache/
.settings/
.recommenders/
warnings.txt
.metadata/
derby.log
plugin-dev/
webstart/www
target/
