<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
        <dict>
                <key>CFBundleDevelopmentRegion</key>
                <string>English</string>
                <key>CFBundleExecutable</key>
                <string>JavaApplicationStub</string>
                <key>CFBundleIconFile</key>
                <string>@PV_APP_ICON@</string>
                <key>CFBundleIdentifier</key>
                <string>org.pathvisio.launcher.PathVisioMain</string>
                <key>CFBundleDisplayName</key>
                <string>@PV_APP_NAME@</string>
                <key>CFBundleInfoDictionaryVersion</key>
                <string>6.0</string>
                <key>CFBundleName</key>
                <string>@PV_APP_NAME@</string>
                <key>CFBundlePackageType</key>
                <string>APPL</string>
                <key>CFBundleShortVersionString</key>
                <string>@PV_APP_SHORT_VERSION@</string>
                <key>CFBundleVersion</key>
                <string>@PV_APP_VERSION@</string>
                <key>CFBundleSignature</key>
                <string>????</string>
                <key>NSHumanReadableCopyright</key>
                <string>@PV_APP_COPYRIGHT@</string>
                <key>LSApplicationCategoryType</key>
                <string>public.app-category.developer-tools</string>
                <key>NSHighResolutionCapable</key>
                <true/>
                <key>NSSupportsAutomaticGraphicsSwitching</key>
                <true/>
                <key>JVMMainClassName</key>
                <string>org/pathvisio/launcher/PathVisioMain</string>
                <key>CFBundleDocumentTypes</key>
                <array>
                        <dict>
                                <key>CFBundleTypeExtensions</key>
                                <array>
                                        <string>gpml</string>
                                </array>
                                <key>CFBundleTypeIconFile</key>
                                <string>$APP_ROOT/Contents/Resources/@PV_APP_ICON@</string>
                                <key>CFBundleTypeName</key>
                                <string>GPML</string>
                                <key>CFBundleTypeRole</key>
                                <string>Editor</string>
                                <key>LSTypeIsPackage</key>
                                <false/>
                        </dict>
                </array>
                <key>LSArchitecturePriority</key>
                <array>
                </array>
                <key>LSEnvironment</key>
                <dict>
                        <key>LC_CTYPE</key>
                        <string>UTF-8</string>
                </dict>
                <key>JVMOptions</key>
                <array>
                        <string>-Dapple.laf.useScreenMenuBar=true</string>
                        <string>-Dcom.apple.macos.use-file-dialog-packages=true</string>
                        <string>-Dcom.apple.macos.useScreenMenuBar=true</string>
                        <string>-Dcom.apple.mrj.application.apple.menu.about.name=@PV_APP_NAME@</string>
                        <string>-Dcom.apple.smallTabs=true</string>
                        <string>-Dfile.encoding=UTF-8</string>
                        <string>-Xdock:name=@PV_APP_NAME@</string>
                        <string>-Xdock:icon=$APP_ROOT/Contents/Resources/@PV_APP_ICON@</string>
                </array>
                <key>JVMDefaultOptions</key>
                <dict>
                        <key>Xmx</key>
                        <string>-Xmx1024M</string>
                </dict>
                <key>JVMArguments</key>
                <array>
                </array>
        </dict>
</plist>