Package: nbx-pathvisio
Version: 1.0-1
Section: base
Priority: optional
Architecture: all
Depends: mozilla | firefox, sun-java5-bin | sun-java6-bin
Maintainer: BiGCaT Bioinformatics <martijn.vaniersel@bigcat.unimaas.nl>
Description: a tool for data visualization and analysis using Biological Pathways
 PathVisio is a tool for visualization and analysis of 
 high-throughput experimental data (such as microarray data) 
 using Biological Pathways
