Homo sapiens	/home/thomas/PathVisio-Data/gene databases/Hs_Derby_20080102.pgdb
Mus musculus	/home/thomas/PathVisio-Data/gene databases/Mm_Derby_20080102.pgdb
Rattus norvegicus	/home/thomas/PathVisio-Data/gene databases/Rn_Derby_20080102.pgdb
Danio rerio	/home/thomas/PathVisio-Data/gene databases/Dr_Derby_20080121.pgdb
Caenorhabditis elegans	/home/thomas/PathVisio-Data/gene databases/Ce_Derby_20080106.pgdb
Saccharomyces cerevisiae	/home/thomas/PathVisio-Data/gene databases/Sc_Derby_20080107.pgdb
Drosophila melanogaster	/home/thomas/PathVisio-Data/gene databases/Dm_Derby_20080104.pgdb
*	/home/thomas/PathVisio-Data/gene databases/metabolites_080507.pgdb
