exportClasses(DataSet, GeneProduct, Pathway, PathwaySet)

exportMethods(	getName, "setName<-", 			   				#Pathway, GeneProduct, DataSet, PathwaySet
			getGeneProducts, "setGeneProducts<-", 				#Pathway, DataSet
			getData, "setData<-", getSubsets, "setSubsets<-", 	#DataSet
			getIds, "setIds<-", getSystems, "setSystems<-", 		#GeneProduct
			getFileName, "setFileName<-", hasGeneProduct, 		#Pathway
			getPathways, "setPathways<-",						#PathwaySet
			"==", print, as.matrix							#Generic/primitive
		   )
			
export(DataSet, GeneProduct, Pathway, PathwaySet)
