exportClasses(DataSet, GeneProduct, Pathway, PathwaySet, VisioFunction)

exportMethods(	name, "name<-", hasReference, matchReferences,	#Pathway, GeneProduct, DataSet, PathwaySet
			reporters, "reporters<-", dataByReporter, rep2ens,	#DataSet
			"addReference<-",			 		#GeneProduct
			fileName, "fileName<-", allRefs, "allRefs<-", 		#Pathway
			"description", "arg_descr", "arg_class", "getArgs", 
			"getDefaults",						#VisioFunction
			"fileNames", "globals",					#ResultSet
			"asEnsembl",								#DataSet, Pathway, PathwaySet
			"==", print						#Generic/primitive
)
			
export(DataSet, GeneProduct, Pathway, PathwaySet, VisioFunction, ResultSet)
