

remotehost=www.pathvisio.org
login=pathvisio
pass=*******

#note: must have trailing slash
local_basedir=./www/

#note: must have trailing slash
remote_basedir=/webstart/

timestampfile=autoftp_timestamp.txt
