exportClasses(DataSet, GeneProduct, Pathway, PathwaySet)

exportMethods(	name, "name<-", 			   				#Pathway, GeneProduct, DataSet, PathwaySet
			reporters, "reporters<-", dataByReporter,		#DataSet
			"addReference<-",			 				#GeneProduct
			fileName, "fileName<-", allRefs, "allRefs<-", 		#Pathway
			"==", print, domatch							#Generic/primitive
)
			
export(DataSet, GeneProduct, Pathway, PathwaySet)
