exportClasses(DataSet, GeneProduct, Pathway, PathwaySet, GmmlFunction)

exportMethods(	name, "name<-", 			   			#Pathway, GeneProduct, DataSet, PathwaySet
			reporters, "reporters<-", dataByReporter,		#DataSet
			"addReference<-",			 		#GeneProduct
			fileName, "fileName<-", allRefs, "allRefs<-", 		#Pathway
			"description", "arg_descr", "arg_class", "getArgs", 
			"getDefaults",						#GmmlFunction
			"fileNames",						#ResultSet
			"==", print, match					#Generic/primitive
)
			
export(DataSet, GeneProduct, Pathway, PathwaySet, GmmlFunction, ResultSet)
