exportClasses(DataSet, GeneProduct, GeneProductData, Pathway, PathwaySet)

exportMethods(	name, "name<-", 			   				#Pathway, GeneProduct, DataSet, PathwaySet
			geneProducts, "geneProducts<-", 					#Pathway
			geneProduct, "geneProduct<-", 
			setlist, "setlist<-",														#GeneProductData
			datalist, "datalist<-", 													#GeneProductData, DataSet
			ids, "ids<-", systems, "systems<-", #GeneProduct
			fileName, "fileName<-", hasGeneProduct, 	#Pathway
			pathways, "pathways<-",										#PathwaySet
			"==", print, as.matrix, as.list						#Generic/primitive
		   )
			
export(DataSet, GeneProduct, GeneProductData, Pathway, PathwaySet)
